<div class="modal fade" id="relog-form" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Login required</h4>
      </div><!-- modal-header -->
      <div class="modal-body">
        <div>
          <h4>For security reason please login again.</h4>
          <p>You will be now redirected to login page.</p>
        </div>
      </div><!-- modal-body -->
      <div class="modal-footer">
        <a class="btn btn-danger form-control" href="/login">OK</a>
      </div><!-- modal-footer -->
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal -->
